<!DOCTYPE html>

<html class="no-js" lang="zxx">
<head><script>{% load static %}</script><script>{% load custom_tags %}</script><script>var jsonDataww = {{ json_data|safe }};</script>
<!-- Mobile Specific Meta -->
<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
<!-- Favicon-->
<link href="{% static 'img/fav.png' %}" rel="shortcut icon"/>
<!-- Author Meta -->
<meta content="CodePixar" name="author"/>
<!-- Meta Description -->
<meta content="" name="description"/>
<!-- Meta Keyword -->
<meta content="" name="keywords"/>
<!-- meta character set -->
<meta charset="utf-8"/>
<!-- Site Title -->
<title id="title_1"></title>
<!--
		CSS
		============================================= -->
<link href="{% static 'css/linearicons.css' %}" rel="stylesheet"/>
<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet"/>
<link href="{% static 'css/themify-icons.css' %}" rel="stylesheet"/>
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet"/>
<link href="{% static 'css/owl.carousel.css' %}" rel="stylesheet"/>
<link href="{% static 'css/nice-select.css' %}" rel="stylesheet"/>
<link href="{% static 'css/nouislider.min.css' %}" rel="stylesheet"/>
<link href="{% static 'css/ion.rangeSlider.css' %}" rel="stylesheet"/>
<link href="{% static 'css/ion.rangeSlider.skinFlat.css' %}" rel="stylesheet"/>
<link href="{% static 'css/magnific-popup.css' %}" rel="stylesheet">
<link href="{% static 'css/main.css' %}" rel="stylesheet">
</link></link>
</head>
<body>
<!-- Start Header Area -->
<header class="header_area sticky-header">
<div class="main_menu">
<nav class="navbar navbar-expand-lg navbar-light main_box">
<div class="container">
<!-- Brand and toggle get grouped for better mobile display -->
<a class="navbar-brand logo_h" href="{% url 'web:index' %}"><img alt="" src="{% get_image_url 8 %}"/></a>
<button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
<ul class="nav navbar-nav menu_nav ml-auto">
<li class="nav-item active"><a class="nav-link" href="{% url 'web:index' %}">Home</a></li>
<li class="nav-item submenu dropdown">
<a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" href="{% url 'web:shop' %}" role="button">Shop</a>
</li>
<li class="nav-item submenu dropdown">
<a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" href="{% url 'shop:purchesed_list' %}" role="button">Order List</a>
</li>
<li class="nav-item submenu dropdown">
<a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"  href="{% url 'web:blog' %}" role="button">Blogs</a>
</li>
<li class="nav-item"><a class="nav-link" href="{% url 'web:contact' %}">Contact</a></li>
</ul>
<ul class="nav navbar-nav navbar-right">
<li class="nav-item"><a class="cart" href="{% url 'shop:cart_list' %}"><span class="ti-bag"></span></a></li>
<li class="nav-item">
<button class="search"><span class="lnr lnr-magnifier" id="search"></span></button>
</li>
</ul>
</div>
</div>
</nav>
</div>
<div class="search_input" id="search_input_box">
<div class="container">
<form class="d-flex justify-content-between" role="search" action="{% url 'web:search' %}">
<input class="form-control" id="search_input" name="search"  placeholder="Search Here"  type="text"/>
<button class="btn" type="submit"></button>
<span class="lnr lnr-cross" id="close_search" title="Close Search"></span>
</form>
</div>
</div>
</header>
	<!-- End Header Area -->

	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Product Details Page</h1>
					<nav class="d-flex align-items-center">
						<a href="{% url 'web:index' %}">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="#">Shop<span class="lnr lnr-arrow-right"></span></a>
						<a href="single-product.html">product-details</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

	<!--================Single Product Area =================-->
	<div class="product_image_area">
		<div class="container">
			<div class="row s_product_inner">
				<div class="col-lg-6">
					<div class="s_Product_carousel">

						{% for im in item.images.all %}
						<div class="single-prd-item">
							<img class="img-fluid" src="{{im.image.url}}" alt="">
							</div>
						{% endfor %}
						
                      
					</div>
				</div>
				<div class="col-lg-5 offset-lg-1">
					<div class="s_product_text">
						<h3>{{item.name}}<br>{{item.type}}</h3>
						<h2>

                            {% if item.disc > 0 %}
                            {% with discounted_price=item.price|calculate_discounted_price:item.disc|floatformat:2 %}
                <h2>{{ discounted_price }} birr<br><del>{{ item.price }} birr</del> </h2>
                            {% endwith %}
                        {% else %}
                <h2>{{ item.price }} birr</h2>
                        {% endif %}


                        </h2>
						{% if item.active %}
                        <p class = "avaibility"><i class= "fa fa-circle"></i>In Stock</p>
                        {% else %}
                        <p class = "unavaibility"><i class= "fa fa-circle"></i> Out of Stock</p>
                         {% endif %}
                         {% for opi in item.descriptions.all %}
                         <p>{{opi.text}}</p>
                     {% endfor %}


                     
 <form method="post" enctype='multipart/form-data'>
                        {% csrf_token %} 
						<div class="product_count">
							<label for="qty">Quantity:</label>
							<input type="text" name="quantity" id="sst"  value="1" title="Quantity:" class="input-text qty">
							<button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;"
							 class="increase items-count" type="button"><i class="lnr lnr-chevron-up"></i></button>
							<button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 0 ) result.value--;return false;"
							 class="reduced items-count" type="button"><i class="lnr lnr-chevron-down"></i></button>
						</div>
						<div class="card_area d-flex align-items-center">
                            <button type="submit" class="primary-btn">Add to cart</button>
							
							
						</div>
                    </form>
					</div>
                    
				</div>
			</div>
		</div>
	</div>
	  {% endfor %}
	<!--================End Single Product Area =================-->

	<br> <br> <br>

	<!-- Start related-product Area -->
	<section class="related-product-area section_gap_bottom">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6 text-center">
					<div class="section-title">
						<h1>Deals of the Week</h1>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
							magna aliqua.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-9">
                    {% for item1 in reitem %}
					<div class="row">
						<div class="col-lg-4 col-md-4 col-sm-6 mb-20">
							<div class="single-related-product d-flex">
								<a href="#"><img src="{{ item.images.all.0.image.url }}" alt="" width="200px"></a>
								<div class="desc">
									<a href="{% url 'shop:item_detail' item_id=item.id %}" class="title">{{item1.name}}</a>
									<div class="price">
										<h6>

                     {% if item1.disc > 0 %}
            {% with discounted_price=item1.price|calculate_discounted_price:item1.disc|floatformat:2 %}
     <h6>{{ discounted_price }} birr<br><del>{{ item1.price }} birr</del> </h6>
                          {% endwith %}
                        {% else %}
                <h6>{{ item1.price }} birr</h6>
                {% endif %}
                 </h6>
										
									</div>
                                    {% endfor %}
								</div>
							</div>
						</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End related-product Area -->

	<!-- start footer Area -->
			
	<footer class="footer-area section_gap">
		<div class="container">
		<div class="row">
		<div class="col-lg-3 col-md-6 col-sm-6">
		<div class="single-footer-widget">
		<h6 id="h6_83">About Us</h6>
		<p id="p_108">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.</p>
		</div>
		</div>
		<div class="col-lg-4 col-md-6 col-sm-6">
		<div class="single-footer-widget">
		<h6 id="h6_84">Newsletter</h6>
		<p id="p_109">Stay update with our latest</p>
		<div class="" id="mc_embed_signup">
		<form action="{% url 'web:collect_email' %}" class="form-inline" method="get" novalidate="true" target="_blank">
			{% csrf_token %}
			
		<div class="d-flex flex-row">
		<input class="form-control" name="email"  onblur="this.placeholder = 'Enter Email '" onfocus="this.placeholder = ''" placeholder="Enter Email" required="" type="email"/>
		<button class="click-btn btn btn-default" name="commit"><i aria-hidden="true" class="fa fa-long-arrow-right"></i></button>
		<div style="position: absolute; left: -5000px;">
		<input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" type="text" value=""/>
		</div>
		<!-- <div class="col-lg-4 col-md-4">
														<button class="bb-btn btn"><span class="lnr lnr-arrow-right"></span></button>
													</div>  -->
		</div>
		<div class="info"></div>
		</form>
		</div>
		</div>
		</div>
		<div class="col-lg-3 col-md-6 col-sm-6">
		<div class="single-footer-widget mail-chimp">
		<h6 class="mb-20" id="h6_85">Instragram Feed</h6>
		<ul class="instafeed d-flex flex-wrap">
		<li><img alt="" src="{% get_image_url 67 %}"/></li>
		<li><img alt="" src="{% get_image_url 68 %}"/></li>
		<li><img alt="" src="{% get_image_url 69 %}"/></li>
		<li><img alt="" src="{% get_image_url 70 %}"/></li>
		<li><img alt="" src="{% get_image_url 71 %}"/></li>
		<li><img alt="" src="{% get_image_url 72 %}"/></li>
		<li><img alt="" src="{% get_image_url 73 %}"/></li>
		<li><img alt="" src="{% get_image_url 74 %}"/></li>
		</ul>
		</div>
		</div>
		<div class="col-lg-2 col-md-6 col-sm-6">
		<div class="single-footer-widget">
		<h6 id="h6_86">Follow Us</h6>
		<p id="p_110">Let us be social</p>
		<div class="footer-social d-flex align-items-center">
		
			{% for socilamedia in social %}
			{% if socilamedia.social_media.name == "Facebook" %}
			<a href="{{socilamedia.link}}"><i class="fab fa-facebook"></i></a>
			{% elif socilamedia.social_media.name == "Instagram" %}
			<a href="{{socilamedia.link}}"> <i class="fab fa-instagram"></i></a>
			{% elif socilamedia.social_media.name == "Twitter" %}
			<a href="{{socilamedia.link}}"> <i class="fab fa-twitter"></i></a>
			{% elif socilamedia.social_media.name == "LinkedIn" %}
			<a href="{{socilamedia.link}}"> <i class="fab fa-linkedin"></i></a>
			{% elif socilamedia.social_media.name == "Snapchat" %}
			<a href="{{socilamedia.link}}"> <i class="fab fa-snapchat"></i></a>
			{% elif socilamedia.social_media.name == "Pinterest" %}
			<a href="{{socilamedia.link}}"> <i class="fab fa-pinterest"></i></a>
			{% elif socilamedia.social_media.name == "Reddit" %}
			<a href="{{socilamedia.link}}"> <i class="fab fa-reddit"></i></a>
			{% elif socilamedia.social_media.name == "TikTok" %}
			<a href="{{socilamedia.link}}"> <i class="fab fa-tiktok"></i></a>
			{% elif socilamedia.social_media.name == "YouTube" %}
			<a href="{{socilamedia.link}}"> <i class="fab fa-youtube"></i></a>
			{% elif socilamedia.social_media.name == "WhatsApp" %}
			<a href="{{socilamedia.link}}"> <i class="fab fa-whatsapp"></i></a>
			{% elif socilamedia.social_media.name == "WeChat" %}
			<a href="{{socilamedia.link}}"> <i class="fab fa-weixin"></i></a>
			{% elif socilamedia.social_media.name == "Tumblr" %}
			<a href="{{socilamedia.link}}"> <i class="fab fa-tumblr"></i></a>
			{% elif socilamedia.social_media.name == "Twitch" %}
			<a href="{{socilamedia.link}}"><i class="fab fa-twitch"></i></a>
			{% elif socilamedia.social_media.name == "Telegram" %}
			<a href="{{socilamedia.link}}"> <i class="fab fa-telegram"></i></a>
			{% elif socilamedia.social_media.name == "Discord" %}
			<a href="{{socilamedia.link}}"> <i class="fab fa-discord"></i></a>
			{% elif socilamedia.social_media.name == "Clubhouse" %}
			<a href="{{socilamedia.link}}"> <i class="fab fa-houzz"></i></a>
			{% elif socilamedia.social_media.name == "Viber" %}
			<a href="{{socilamedia.link}}"> <i class="fab fa-viber"></i></a>
			{% elif socilamedia.social_media.name == "LINE" %}
			<a href="{{socilamedia.link}}"> <i class="fab fa-line"></i></a>
			{% elif socilamedia.social_media.name == "QQ" %}
			<a href="{{socilamedia.link}}"> <i class="fab fa-qq"></i></a>
			{% elif socilamedia.social_media.name == "Sina Weibo" %}
			<a href="{{socilamedia.link}}"> <i class="fab fa-weibo"></i></a>
			{% endif %}
		{% endfor %}
		
		
		</div>
		</div>
		</div>
		<div class="footer-bottom d-flex justify-content-center align-items-center flex-wrap">
		<p class="footer-text m-0"> Copyright © All rights reserved | This template is made by <a href="http://zufan.et">zufan.et</a></p>
		</div>
		</div>
		</footer>
		<!-- End footer Area -->
		<script src="{% static 'js/vendor/jquery-2.2.4.min.js' %}"></script>
		<script crossorigin="anonymous" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" src="{% static 'https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js' %}"></script>
		<script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
		<script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
		<script src="{% static 'js/jquery.sticky.js' %}"></script>
		<script src="{% static 'js/nouislider.min.js' %}"></script>
		<script src="{% static 'js/countdown.js' %}"></script>
		<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
		<script src="{% static 'js/owl.carousel.min.js' %}"></script>
		<!--gmaps Js-->
		<script src="{% static 'https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE' %}"></script>
		<script src="{% static 'js/gmaps.min.js' %}"></script>
		<script src="{% static 'js/main.js' %}"></script>
		<script src="{% static 'webfunction.js' %}"></script><script>
			document.addEventListener('DOMContentLoaded', function () {
				// Iterate over each key in the JSON data
				for (var key in jsonDataww) {
					if (jsonDataww.hasOwnProperty(key)) {
						var element = document.getElementById(key);
						if (element) {
							if(key.startsWith("a")){
								element.href = jsonDataww[key['link']];
							}else{
								element.textContent = jsonDataww[key];
							}
						}
					}
				}
			});
			</script></body>
		</html>
